.place__image {
  width: 95%;
  object-fit: cover;
  grid-column: 1/1;
  grid-row: 2/2;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .place__image {
    width: 97%;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    width: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
