.header {
  /* ещё проработал вариант через отступы padding и  margin auto, будет адаптивность,
  но не такая плавная как эта. было бы круто больше подобных примеров видеть через calc(Y - (x*z)) */
  max-width: calc(1280px - (48px * 2));
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
}

@media screen and (max-width: 1200px) {
  .header {
    max-width: calc(100% - (48px * 2));
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: calc(100% - (25px * 2));
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: calc(100% - (15px * 2));
    margin: 15px auto 0;
  }
}
