.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
}


@media screen and (max-width: 1200px) {
  .header {
      max-width: 1024px;
      margin: 30px 47px 0;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 768px;
    margin: 30px 25px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 15px 15px 0;
  }
}

