.footer__link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  opacity: 1;
  /* transition-property: opacity .8s, ease; */
}

.footer__link:hover {
  opacity: 0.8;
  /* transition: opacity .8s, ease; */
}

@media screen and (max-width: 767px) {
  .footer__link {
    max-width: 320px;
    font-size: 24px;
    line-height: 24px;
  }
}
