.place__paragraph {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
  padding: 0;
  max-width: 485px;
}

@media screen and (max-width: 1200px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 320px;
    grid-column: 1/1;
    grid-row: 4/5;
  }
}
