.place__paragraph{
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
  padding: 0;
  max-width: 485px;
}



.place__paragraph_text:nth-of-type(2){
  margin-top: 25px;
}

@media screen and (min-width:1025px){

}

@media screen and (min-width: 769px) and (max-width: 1024px){

}

@media screen and (min-width: 321px) and (max-width: 768px){

}

@media screen and (max-width:320px){
  .place__paragraph{
    max-width: 320px;
    grid-column: 1/1;
    grid-row: 4/5;
    /* margin-left: auto;
    margin-right: auto; */
  }
    .place__paragraph_text:nth-of-type(2){
      margin-top: 25px;
    }

  }

}
