.lead__image{
  object-fit: cover;
}
@media screen and (min-width:1025px){
  .lead__image{
    max-width: 985px;
    /* max-height: 615px; */
    margin: 65px auto 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .lead__image{
    max-width: 90%;
    /* max-height: 580px; */
    margin: 55px auto 10px;
  }
}


  @media screen and (min-width: 321px) and (max-width: 768px){
  .lead__image{
    max-width: 100%;
    max-height: 480px;
    margin: 55px auto 5px;
  }
}

@media screen and (max-width:320px){
  .lead__image{
    max-width: 100%;
    /* max-height: 200px; */
    margin: 40px auto 10px;
  }
}
