.lead__image {
  object-fit: cover;
  width: 100%;
  margin: 65px auto 5px;
}

@media screen and (max-width: 1200px) {
  .lead__image {
    margin: 52px auto 5px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin: 40px auto 5px;
  }
}
