.intro {
  max-width: 985px;
  margin: 90px auto 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 1200px) {
  .intro{
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro{
    max-width: 768px;
    margin: 88 0 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
      margin: 65px auto 0;
      max-width: 288px;
  }
}
