body {
  background-color:  rgba(42, 44, 47, 1);
}

.page {
  max-width: 1180px;
  min-width: 320px;
  font-family: Inter, Arial, sans-serif;
  color: white;
  margin: 0 auto;
}


/* отступы поправить перед отправкой через @media задать более ранние переходы стилей чтобы были отступы от краёв */


/*

@media screen and (min-width:1025px){

}

@media screen and (min-width: 769px) and (max-width: 1024px){

}

@media screen and (min-width: 321px) and (max-width: 768px){

}

@media screen and (max-width:320px){

}


*/
