.cover {
  display: flex;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  max-width: 1184px;
  height: 740px;
  margin: 100px auto 0;
}

@media screen and (max-width: 1200px) {
  .cover {
      margin: 95px auto 0;
      height: 640px;
      max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
      margin: 67px auto 0;
      height: 480px;
      max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
      margin: 40px auto 0;
      max-width: 320px;
      height: 200px;
  }
}
