.cover {
    display: flex;
    background-image: url("../../../images/cover-trains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    max-width: 1184px;
    height: 740px;
    margin: 100px auto 0;


  }

  @media screen and (min-width: 769px) and (max-width: 1024px){
    .cover{
      margin: 90px auto 0;
      height: 640px;
      max-width: 1024px;
    }
  }

  @media screen and (min-width: 321px) and (max-width: 768px){
    .cover{
      margin: 85px auto 0;
      height:480px;
      max-width: 768px;

    }
  }

  @media screen and (max-width:320px){
    .cover{
      margin: 65px auto 0;
      max-width: 320px;
      height: 200px;
    }
  }
