.place{
  max-width: 982px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 50px;
  margin: 0 auto 80px;
  padding: 0;

}


@media screen and (max-width: 1200px){
 .place{
  max-width: 925px;
 }
}

@media screen and (max-width: 1023px){
  .place{
    max-width: 720px;
    margin: 0 auto 45px;
    column-gap: 18px;
   }

}

@media screen and (max-width:767px){
  .place{
    column-gap: 0;
    row-gap: 34px;
    max-width: 320px;
    margin: 0 auto 75px;
    grid-template-columns: 1fr;
  grid-template-rows: auto;
   }
   .place:last-child{
     margin: 0 auto 0;
   }

}
