.place {
  max-width: 982px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 15px;
  row-gap: 48px;
  margin: 0 auto 80px;
  padding: 0;
}

.place:last-child {
  margin: 0 auto 0;
}

@media screen and (max-width: 1200px) {
  .place {
    max-width: 925px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
    margin: 0 auto 70px;
    column-gap: 18px;
    row-gap: 49px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    column-gap: 0;
    row-gap: 34px;
    max-width: 320px;
    margin: 0 auto 43px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
